git+https://github.com/astropy/astropy#egg=astropy
git+https://github.com/spacetelescope/asdf@2.5.x#egg=asdf
git+https://github.com/spacetelescope/gwcs#egg=gwcs
git+https://github.com/astropy/photutils#egg=photutils
